@import url('https://fonts.googleapis.com/css?family=Kantumruy|Roboto+Condensed');
ion-app.platform-android {
    font-family: Roboto Condensed, Kantumruy, sans-serif!important;
}
ion-app.app-root .core-tabs-bar a.tab-slide span {
    line-height: 2em;
}
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #264da1!important;
}
.content-md {
    color: #3a3a3a;
    background-color: #fff;
    line-height: 2rem;
}
h1, h2, h3, h4, h5, h6, ion-app.app-root .item .item-heading {
    line-height: 1.5;
}
.addon-block-recentlyaccessedcourses .item-divider-md {
    background: #CDDC39;
}
.addon-block-recentlyaccessedcourses core-loading {
    background: #E6EE9C;
}
.addon-block-myoverview .item-divider-md {
    background: #2196F3;
}
.addon-block-myoverview core-loading {
    background: #90CAF9;
}
.addon-block-timeline .item-divider-md {
    background: #FFC107;
}
.addon-block-timeline core-loading {
    background: #FFECB3;
}


